<div id="line" class="content-wrapper">
  <div class="content-container">
    <div class="content-header">
      <h2>LINEで質問</h2>
    </div>
    <div class="content">
      <p>「Studishってなんなの？」「ディスカッションてなにすんの？」など<br>Studishや勉強に関する質問ならなんでもOK。<br>丁寧にわかりやすくお答えします！</p>
      <a href="https://line.me/ti/p/%40vji2716s"><img height="36" border="0" alt="友だち追加数" src="http://biz.line.naver.jp/line_business/img/btn/addfriends_ja.png"></a>
    </div>
  </div>
</div>