@import "color_set";

#coaching-reports,
#favorites {
  padding-top: 15px;
  .content-container {
    .content-header {
      margin: 0;
      padding: 20px 0;
      h2 {
        font-size: 20px;
      }
    }
    .content {
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
      .coach-reports-info {
        text-align: right;
        .reports-count {
          i.fa-book {
            margin-right: 3px;
            color: $book-green;
          }
        }
      }
      .report-card.reports {
        max-width: 450px;
        padding: 10px;
        background-color: #fff;
        border: 1px solid $grey2;
        margin-bottom: 10px;
        box-shadow: 1px 1px 1px 0px #cfc7b3;
        -moz-box-shadow: 1px 1px 1px 0px #cfc7b3;
        -webkit-box-shadow: 1px 1px 1px 0px #cfc7b3;
      }
    }
  }
}



@media (min-width: 768px) {
#coaching-reports {
  .content-container {
    .content-header {
      h2 {
      }
    }
    .content {
      .report-card {
        max-width: 500px;
        padding: 15px;
        margin-bottom: 15px;
        .report-header {
          .coach-img {
            img {
            }
          }
          .coach-info {
            margin-left: 15px;
            .coach-name {
              font-size: 16px;
              a {
              }
            }
          }
        }
        .report-abst {
          .report-title {
            font-size: 16px;
          }
          .report-body {
            font-size: 16px;
          }
          .more {
            font-size: 16px;
          }
        }
      }
    }
  }
}

}