@import "variables";
@import "mixins";

.coach-card {
  padding: $padding-m;
}

ul.user-info.coach-info {
  margin-left: 100px;
  li {
    text-align: left;
    line-height: 1;
    margin-bottom: $margin-s;
    color: $grey3;
    span {
      line-height: 1;
      text-decoration: none;
    }
    span.coach-name {
      color: $black1;
      font-weight: 900;
      margin-right: $margin-s;
    }
    span.coach-account-name:before {
      content: "@";
    }
  }
}

a.coach-card-link {
  text-decoration: none;
}

a.coach-card-link:hover,
a.coach-card-link:active {
  text-decoration: none;
  li {
    
    text-decoration: none;
  }
}