@import "variables";

#top-coaches,{
  .content-container {
    padding: 0;
    .content-header {
      margin: 15px 0;
    }
    .content {
      #coach-card-1 {
        border-top: 1px solid;
        border-color: $separator-grey;
      }
    }
    .link {
      margin-top: 30px;
      text-align: center;
    }
  }
}