@import "color_set";

#new-notifications,
#my-comments {
  padding-top: 20px;
  .content-container {
    .content-header {
      
    }
    .content {
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      padding: 7px;
      background-color: #fff;
      border: 1px solid $grey2;
      box-shadow: 1px 1px 1px 0px #cfc7b3;
      -moz-box-shadow: 1px 1px 1px 0px #cfc7b3;
      -webkit-box-shadow: 1px 1px 1px 0px #cfc7b3;
      .commented-report {
        margin-bottom: 20px;
        .report-header {
          width: 100%;
          .coach-img {
            float: left;
            img {
              width: 50px;
              height: 50px;
              border: 1px solid $grey2;
              border-radius: 3px;
            }
          }
          .coach-info {
            float: none;
            text-align: left;
            margin-left: 57px;
            .coach-name {
              display: block;
              line-height: 1;
              a {
                display: inline-block;
                span.name {
                  display: inline-block;
                  color: $black1;
                  font-weight: 800;
                }
                span.account_name {
                  display: inline-block;
                  color: $light-grey;
                  margin-left: 5px;
                }
              }
            }
          }
        }
        .report-title {
          width: 100%;
          text-align: left;
          display: block;
          font-weight: 800;
        }
        .report-body {
          text-align: left;
          line-height: 1.7;
        }
        .report-footer {
          text-align: right;
          color: $light-grey;
        }
      }
      .new-comment-card {
        .new-comment-header {
          width: 100%;
          margin-bottom: 7px;
          .coach-img {
            float: left;
            img {
              width: 50px;
              height: 50px;
              border: 1px solid $grey2;
              border-radius: 3px;
            }
          }
          .new-comment-info {
            float: none;
            text-align: left;
            margin-left: 57px;
            .new {
              display: block;
              line-height: 1;
              margin-bottom: 7px;
            }
            .notice-sentence {
              display: block;
              line-height: 1;
              margin-bottom: 7px;
              word-wrap: break-word;
              a {
                display: inline-block;
                span.name {
                  display: inline-block;
                  color: $black1;
                  font-weight: 800;
                }
                span.account_name {
                  display: inline-block;
                  margin-left: 5px;
                  color: $light-grey;
                }
              }
            }
          }
        }
        .new-comment {
          .new-comment-body {
            display: block;
            width: 100%;
            text-align: left;
            line-height: 1.4;
          }
          .new-comment-footer {
            display: block;
            width: 100%;
            text-align: right;
            width: 100%;
            color: $light-grey;
          }
        }
      }
    }
  }
}


@media (min-width: 768px) {

#new-notifications {
  .content-container {
    .content-header {
    }
    .content {
      .commented-report {
        .report-title {
          font-size: 18px;
        }
        .report-body {
        }
        .more {
        }
        .report-footer {
        }
      }
      .new-comment-card {
        .new-comment-header {
          .coach-img {
            img {
            }
          }
          .new-comment-info {
            .new {
            }
            .notice-sentence {
              a {
              }
            }
          }
        }
        .new-comment {
          .new-comment-body {
          }
          .new-comment-footer {
          }
        }
      }
    }
  }
}

}