@import "variables";
@import "mixins";

.report-card-wrapper {
  padding: $padding-m;
}

.report-card {
  .report {
    margin: $margin-m 0;
    .report-title {
      display: block;
      text-align: left;
      font-weight: 900;
    }
    p.report-body {
      text-align: left;
      line-height: 1.7;
      word-wrap: break-word;
    }
    .more {
      span.more-link {
        float: right;
        line-height: 1;
        margin-bottom: $margin-m;
      }
    }
  }
}