<% content_for :head do %>
<title>コメント一覧 | Studish</title>
<meta name="description" content="<%= @coach.name %>さんのコメントページです。">
<meta name="keywords" content="Studish,スタディッシュ,オンライン指導,コーチング,Coaching,自学スキルの向上,ディスカッション,discussion">
<% end %>

<div class="page-outer my-comments">
  <div class="page-container" id="comment-stream">
    <% if @comments.present? %>
      <% @reports.each do |report| %>
      <div class="comment-stream-container">
        <%= render "comments", report: report %>
      </div>
      <%= paginate @reports %>
      <% end %>
    <% else %>
    <P class="nothing"><%= @coach.name %>さんのコメントはありません。</P>
    <% end %>
  </div>
</div>