<% content_for :head do %>
<title><%= @student.name %>さんのプロフィール編集 | Studish</title>
<meta name="description" content="Studishの生徒プロフィール編集ページです。">
<meta name="keywords" content="Studish,スタディッシュ,オンライン指導,コーチング,Coaching,自学スキルの向上,ディスカッション,discussion">
<% end %>

<div class="content-wrapper" id="studish-edit">
  <div class="content-container">
    <div class="content">
      <%= form_for @student do |form| %>
        <%= render "form", form: form %>
      <% end %>
    </div>
  </div>
</div>