<% content_for :head do %>
<title>管理者ページトップ | Studish</title>
<meta name="description" content="Studishの管理者ページトップです。">
<meta name="keywords" content="Studish,スタディッシュ,オンライン指導,コーチング,Coaching,自学スキルの向上,ディスカッション,discussion">
<% end %>

<div id="admin" class="content-wrapper">
  <div id="admin-content-container" class="content-container">
    <div class="content-header">
      <h2>トップ | 管理者ページ</h2>
    </div>
    <div class="content">
      <ul>
        <li><%= link_to "講師管理", :admin_coaches %></li>
      </ul>
    </div>
  </div>
</div>