<% if @coach.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <h3>The form contains <%= pluralize(@coach.errors.count, "error") %>.</h3>
    <ul>
    <% @coach.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  </div>
<% end %>