<div id="challenge" class="content-wrapper">
  <div class="content-container clearfix">
    <div class="content-header clearfix">
      <div id="challenge-icon-1" class="icon">
        <span class="fa fa-flask" aria-hidden="true"></span>
      </div>
      <h2>実験的試み</h2>
    </div>
    <div class="challenge-text content">
      <p>学校の授業では何かが足りないと感じている人もいると思います。<br>Studishもそう考えています。<br>そこでStudishでは科目勉強以外の刺激的かつ実験的な試みをどんどんやっていきます。</p>
    </div>
    <div class="challenge-content content">
      <div id="challenge-1" class="challenge-card clearfix">
        <div class="challenge-hp-wrapper">
          <div class="challenge-1-header clearfix">
            <div id="challenge-icon-2" class="icon">
              <span class="fa fa-comments-o" aria-hidden="true"></span>
            </div>
            <h3>ディスカッション</h3>
          </div>
          <p>実験的試みの最初の１つとしてまずは「ディスカッション」をやります。<br>既存の学校教育の問題の１つは自己完結型の勉強が中心であることだと考えています。<br>実社会ではお互いのアイデアを持ち寄りより良いアイデアにしていくスキルが求められる、<br>かどうかはわかりませんが、自分の考えだけに固執するのはもったいないと思います。<br>Studishではユーザー（生徒）同士がディスカッションし色々な考え方に触れる場を作っていきます。</p>
        </div>
      </div>
    </div>
    <div class="challenge-text content">
      <p>「何をするか」「どのようにするか」など、<br>生徒が中心になって進めていって欲しいと思います。<br>Studishはオブザーバーやアドバイザーとしてサポートしていきます。</p>
    </div>
  </div>
</div>