<div class="copy-image img-responsive" style="background-image:url(/images/copy-back.jpg)" alt="Responsive image">
</div>
<div class="copy-text">
  <h2>Coaching × Teaching</h2>
  <p>日々の学習にコーチングを</p>
</div>