<div id="environment" class="content-wrapper">
  <div id="environment-content-container" class="content-container">
    <div class="content-header">
      <h2>必要な環境</h2>
    </div>
    <div class="environment-text content">
      <p>Studishはオンライン指導サービスです。<br>指導を受けるには以下の環境が必要になります（無料体験を受ける時にも必要です）。</p>
    </div>
    <div class="content">
      <h3><i class="fa fa-laptop" aria-hidden="false"></i>PC,タブレット,スマホ</h3>
      <p>指導はSkypeを使って行います。<br>PC、タブレット、スマホのいずれか１つがあればすぐに受講を開始できます。<br>ほとんどの一般的なデバイスにおいて必要な通信速度はクリアしているはずです。</p>
    </div>
    <div class="content">
      <h3><i class="fa fa-skype" aria-hidden="false"></i>Skype</h3>
      <p>Skypeは無料通話サービスです。<br>Skypeの機能の１つであるビデオ通話と画面共有機能を利用して指導を行います。<br>システムの必要要件については下記のリンク先を参照してください。</p>
      <%= link_to "Skypeのシステム要件", "https://support.skype.com/ja/faq/FA10328/skypenoshisutemuyao-jian-wojiao-etekudasai", :target => "_blank" %>
      <%= link_to "Skypeの通信帯域", "https://support.skype.com/ja/faq/FA1417/skypegashi-yong-surudai-yu-fu-hadorekuraidesuka", :target => "_blank" %>
      <%= link_to "Skypeのダウンロード", "https://www.skype.com/ja/download-skype/skype-for-computer/", :target => "_blank" %>
    </div>
    <div class="content">
      <h3><i class="glyphicon glyphicon-headphones" aria-hidden="true"></i>マイク、Webカメラ</h3>
      <p>多くのデバイスにはマイクとカメラが内蔵されています。<br>お使いのデバイスにそれらが内蔵されていない場合や、<br>性能に問題がある場合は別途購入して頂く必要があります。</p>
    </div>
  </div>
</div>