<div id="feature" class="content-wrapper">
  <div id="feature-content-container" class="content-container clearfix">
    <div id="feature-1" class="content col-xs-12 col-md-4">
      <div id="feature-header-1" class="feature-header clearfix">
        <span id="feature-icon-1" class="icon fa fa-question-circle-o" aria-hidden="true"></span>
        <span class="title">Question</span>
      </div>
      <p>Questionはユーザ同士で気軽に質問したり解説しあえる機能です。日常学習でもテスト勉強中でも自分の好きなタイミングで質問してみましょう！</p>
    </div>
    <div id="feature-2" class="content col-xs-12 col-md-4">
      <div id="feature-header-2" class="feature-header clearfix">
        <span id="feature-icon-2" class="icon fa fa-pencil-square-o" aria-hidden="true"></span>
        <span class="title">Note</span>
      </div>
      <p>Noteは日々の学習内容を書き留めることで知識の定着を促進させる機能です。間違えたところや「なるほど！」と思ったことを発信していきましょう！</p>
    </div>
    <div id="feature-3" class="content col-xs-12 col-md-4">
      <div id="feature-header-3" class="feature-header clearfix">
        <span id="feature-icon-3" class="icon fa fa-tablet" aria-hidden="true"></span>
        <span class="title">オンライン指導</span>
      </div>
      <p>Studishはオンラインでのリアルタイム指導を行なっています。Question機能、Note機能と併せることで学習効果を最大限に引き出します。</p>
    </div>
  </div>
</div>