<div id="fit" class="content-wrapper">
  <div class="content-container clearfix">
    <div class="content-header">
      <h2>Fit</h2>
    </div>
    <div class="fit-text content">
      <p>現時点での学力は一切関係ありません。<br>大切なのは「変わりたい」という気持ちです。<br>ほんの少しでもそういう気持ちがあればStudishがバックアップします。</p>
    </div>
    <div class="fit-content content">
      <div id="fit-1" class="fit-card clearfix">
        <div id="fit-icon-1" class="icon">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </div>
        <div class="fit-hp-wrapper">
          <h3>変わりたい</h3>
          <p>今はまったく勉強できないけど学年でトップになって周りを見返したい。<br>そういう変わりたい気持ちを持った方を支援します。</p>
        </div>
      </div>
    </div>
    <div class="fit-content content">
      <div id="fit-2" class="fit-card clearfix">
        <div id="fit-icon-2" class="icon">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </div>
        <div class="fit-hp-wrapper">
          <h3>勉強ができないと思っている</h3>
          <p>実はそう思い込まされてるだけかもしれません。<br>勉強に対するアプローチとマインドを変えれば誰でも向上するはずです。</p>
        </div>
      </div>
    </div>
    <div id="fit-content-3" class="fit-content content">
      <div id="fit-3" class="fit-card clearfix">
        <div id="fit-icon-3" class="icon">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </div>
        <div class="fit-hp-wrapper">
          <h3>部活や習い事で忙しい</h3>
          <p>オンライン指導なので遅い時間帯の受講も可能です。<br>部活動や習い事を頑張っている方への学習支援も積極的に行っています。</p>
        </div>
      </div>
    </div>
  </div>
</div>