<div id="flowchart" class="content-wrapper">
  <div id="flowchart-content-container" class="content-container clearfix">
    <div class="flowchart-arrow-box-0">
      <div class="content-header" >
        <h2>指導開始までの流れ</h2>
      </div>
    </div>
    <div id="flowchart-1" class="flowchart-content content flowchart-arrow-box-1">
      <h3>1.お申し込み</h3>
      <p>まずは無料体験の申し込みをお願いします。<br>Skype面談の日程調整についてのメールを差し上げますので、<br>ご希望の日程をお教えください。</p>
    </div>
    <div id="flowchart-2" class="flowchart-content content flowchart-arrow-box-2">
      <h3>2.Skype面談</h3>
      <p>無料体験指導を受ける前にカンタンな面談を行います。<br>現状や課題についてお話をお聞かせください。<br>無料体験指導の日程調整はこの段階で行います。</p>
    </div>
    <div id="flowchart-3" class="flowchart-content content flowchart-arrow-box-3">
      <h3>3.無料体験指導</h3>
      <p>面談でお話をお聞かせいただいた後は無料体験指導を受けていただきます。<br>指導後はあらためて面談を行い感想をヒアリングをさせていただきたいと思います。</p>
    </div>
    <div id="flowchart-4" class="flowchart-content content">
      <h3>4.指導開始</h3>
      <p>指導を継続して受けてみたいという方は、<br>あらためてお問い合わせフォームからご連絡ください。<br>私たちと一緒に変わっていきましょう。もちろん良い方向に。</p>
      <%= link_to "#inquiry" do %>
        無料体験の申込はこちらから
      <% end %>
    </div>
  </div>
</div>