<div id="how-to-feature" class="content-wrapper">
  <div id="how-to-feature-content-container" class="content-container clearfix">
    <div id="how-to-feature-1" class="content">
      <div id="how-to-feature-header-1" class="how-to-feature-header clearfix">
        <h2>Questionの使い方</h2>
      </div>
      <p>画像を貼って質問しよう！</p>
      <img src="assets/question_full-08e1f34862f1ce4847f6b3802ccfa0673b0f34e5b5a82055123ce6f504fc61e4.png" id="question-image-1" class="feature-image img-responsive" alt="Responsive image"></img>
      <p>他のユーザーの質問に回答してみよう！</p>
      <img src="assets/answer_full-19cdd4b6fc727dee7e60c7fa6d4aebcf8bebcff4024adf13c7cd444935f692b8.png" id="answer-image" class="feature-image img-responsive" alt="Responsive image"></img>
    </div>
    <div id="how-to-feature-2" class="content">
      <div id="how-to-feature-header-2" class="how-to-feature-header clearfix">
        <h2>Noteの使い方</h2>
      </div>
      <p>その日、勉強したことを書き留めていこう！</p>
      <img src="assets/note_full-0b9d06eeee6c3814f00cc6b39351cb667d653cf1580bf7b78e51d95e874cbc7f.png" id="note-image" class="feature-image img-responsive" alt="Responsive image"><img> 
    </div>
    <div id="how-to-feature-3" class="content">
      <div id="how-to-feature-header-3" class="how-to-feature-header clearfix">
        <h2>オンライン指導</h2>
      </div>
      <p>Skypeを利用したリアルタイム指導でストレスポイントをひとつずつ取り除いていきましょう！</p>
      <img src="assets/skype-b115c93eb706133353a9934a6e88dd7be4b11802ffb67cbafe75dd0318294688.jpg" id="skype-image" class="feature-image img-responsive" alt="Responsive image"></img>
    </div>
  </div>
</div>