<div id="line" class="content-wrapper">
  <div class="content-container">
    <div class="content-header">
      <h2>LINEで質問</h2>
    </div>
    <div class="content">
      <p>Studishに関する質問やオンライン指導の体験はLINE@で受け付けています！<br>友だちに追加してメッセージをください！<br>＊質問は<%= link_to "問い合わせフォーム", inquiry_path %>からも受け付けています。</p>
      <img src="assets/line_qr-c57476472677c16386543d99e63bf5f039522a7238a99546c683ffefcb877a52.PNG" id="line-qr-image" class="img-responsive" alt="Responsive image"></img>
      <a href="https://line.me/ti/p/%40vji2716s"><img height="36" border="0" alt="友だち追加数" src="http://biz.line.naver.jp/line_business/img/btn/addfriends_ja.png"></a>
    </div>
  </div>
</div>