<div id="merit" class="content-wrapper">
  <div id="merit-content-container" class="content-container clearfix">
    <div class="content-header">
      <h2>Merit</h2>
    </div>
    <div id="merit-1" class="content col-xs-12 col-md-4">
      <div id="merit-icon-1" class="icon">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </div>
      <h3>自学スキルの向上</h3>
      <p>自学方法を改善し、自学の効果を高めより効率的に学習できるようになります。</p>
    </div>
    <div id="merit-2" class="content col-xs-12 col-md-4">
      <div id="merit-icon-2" class="icon">
        <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
      </div>
      <h3>マインドの改善</h3>
      <p>勉強やその他の物事に対するマインドがよりポジティブなものに変わります。</p>
    </div>
    <div id="merit-3" class="content col-xs-12 col-md-4">
      <div id="merit-icon-3" class="icon">
        <span class="fa fa-line-chart" aria-hidden="true"></span>
      </div>
      <h3>実行力の向上</h3>
      <p>"やらなきゃいけないけどできない"状態から脱し、自分で進んでいけるようになります。</p>
    </div>
  </div>
</div>