<div id="plan" class="content-wrapper plan-arrow-box">
  <div id="plan-content-container" class="content-container">
    <div class="content-header">
      <h2>Plan</h2>
    </div>
    <div id="standard-plan" class="content">
      <h3>スタンダードプラン</h3>
      <p>月額16,000円（4週月、税抜）</p>
      <p>週1回60分×週回数</p>
      <p>完全1対1指導</p>
      <p>入会金なし</p>
      <p>指導回数、指導時間、スケジュール等は応相談</p>
    </div>
    <div id="free-plan" class="content">
      <h3>体験指導：0円</h3>
      <p>1回60分の指導</p>
      <p>指導前後の面談も無料</p>
    </div>
    <p class="free-ex">まずは無料体験指導から</p>
  </div>
</div>