<div id="style" class="content-wrapper">
  <div id="style-content-container" class="content-container clearfix">
    <div class="content-header">
      <h2>指導スタイル</h2>
    </div>
    <div class="style-1-2-cover clearfix">
      <div id="style-1" class="content col-xs-12 col-md-4">
        <div id="style-header-1" class="style-header clearfix">
          <div id="style-icon-1" class="icon">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </div>
          <h3>自学スキルの向上</h3>
        </div>
        <p>Studishでは解法指導に加えて勉強方法の指導にも力を入れています。自学スキルを向上させることで勉強時間全体の効果を高めましょう。最終目標は私たちの指導を必要とせずに自分で勉強できるようになってもらうことです。</p>
      </div>
      <div id="style-2" class="content col-xs-12 col-md-4">
        <div id="style-header-2" class="style-header clearfix">
          <div id="style-icon-2" class="icon">
            <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
          </div>
          <h3>”できた感”で終わらせない</h3>
        </div>
        <p>勉強方法を教わったけど結局成果が出なかった、ということはよく聞く話です。Studishでは着実に成果を積み上げていくことも重視しています。プロセスを改善し自学スキルのレベルを上げることで結果につなげていきます。</p>
      </div>
    </div>
    <div class="style-3-4-cover clearfix">
      <div id="style-3" class="content col-xs-12 col-md-4">
        <div id="style-header-3" class="style-header clearfix">
          <div id="style-icon-3" class="icon">
            <span class="fa fa-heart" aria-hidden="true"></span>
          </div>
          <h3>興味を優先</h3>
        </div>
        <p>“受験へと収束していく勉強だけでは面白くない”と思いませんか？受験勉強自体を否定しているわけではありません。まずは好きなこと（科目）に集中しましょう。その方がきっと楽しく勉強できるはずです。</p>
      </div>
      <div id="style-4" class="content col-xs-12 col-md-4">
        <div id="style-header-4" class="style-header clearfix">
          <div id="style-icon-4" class="icon">
            <span class="fa fa-key" aria-hidden="true"></span>
          </div>
          <h3>"やらされている"から脱却</h3>
        </div>
        <p>学校で「やらされ」、塾で「やらされ」、貴重な時間を自分でコントロールできていない人が多いように感じます。Studishでは勉強をやらせることはしません。自分ではできないところや気づかないところをサポートしていきます。</p>
      </div>
    </div>
  </div>
</div>