<% content_for :head do %>
<title>レポートタイムライン | Studish</title>
<meta name="description" content="Studishのレポートタイムラインです。">
<meta name="keywords" content="Studish,スタディッシュ,オンライン指導,コーチング,Coaching,自学スキルの向上,ディスカッション,discussion">
<% end %>

<div class="page-outer reports">
  <div class="page-container reports" id="report-stream">
    <div class="report-stream-container">
      <% if @reports.present? %>
        <% @reports.each do |report| %>
          <div class="report-card-wrapper report-stream-item">
            <%= render "report_card", report: report %>
          </div>
          <hr class="hr-bottom">
        <% end %>
        <%= paginate @reports %>
      <% else %>
        <p class="nothing"><%= @coach.name %>さんのレポートはまだありません。</p>
      <% end %>
    </div>
  </div>
</div>