<% content_for :head do %>
<title>レポート作成 | Studish</title>
<meta name="description" content="Studishのレポート作成ページです。">
<meta name="keywords" content="Studish,スタディッシュ,オンライン指導,コーチング,Coaching,自学スキルの向上,ディスカッション,discussion">
<% end %>

<div class="page-outer report-new">
  <div class="page-container padding-m">
    <%= form_for @report do |form| %>
      <%= render "form", form: form %>
      <%= form.submit "作成する", class: "btn btn-primary margin-right-m" %>
      <%= link_to '戻る', :back, class: "btn btn-success"%>
    <% end %>
  </div>
</div>