@import "variables";
@import "mixins";

li.post {
  padding: $padding-m;
}

.post-picture-wrapper,
.picture-wrapper {
  text-align: center;
  margin: 0 -10px;
}

.pictures.post-pictures {
  width: 100%;
}

li.comment {
  padding: $padding-m;
}

.infomation {
  margin-top: 5px;
  span {
    @include tag-small;
  }
}