@import "variables";
@import "mixins";

.profile-header {
  padding: $padding-m;
}

ul.stats {
  margin-left: 80px;
  margin-bottom: 0;
  padding: 0;
  a {
    text-decoration: none;
    color: $grey3;
    li.stats-item {
      float: left;
      width: 33.33333%;
      height: 40px;
      text-align: center;
      span {
        display: inline-block;
        line-height: 1;
        font-size: $font-size-s;
      }
      span.count {
        width: 100%;
      }
      span.item {
        width: 100%;
      }
    }
  }
  a:hover {
    color: $grey1;
  }
}

.user-info.student-info.margin-cancel {
  margin: 0;
}

p.self-introduction {
  padding: $padding-m;
}