@import "variables";
@import "mixins";

.profile-header {
  padding: $padding-m;
}

ul.stats {
  margin-left: 80px;
  margin-bottom: 0;
  padding: 0;
  a {
    text-decoration: none;
    color: $grey3;
    li.stats-item {
      float: left;
      width: 33.33333%;
      height: 50px;
      text-align: center;
      span.count {
      }
      span.item {
        font-size: $font-size-s;
      }
    }
  }
  a:hover {
    color: $grey1;
  }
}

.user-info.student-info.margin-cancel {
  margin: 0;
}

p.self-introduction {
  padding: $padding-m;
}