<div class="content-wrapper" id="favorites">
  <% if @reports.present? %>
    <% @reports.each do |report| %>
    <div class="content-container">
      <div class="content">
        <div class="report-card favorites">
          <%= render "coaching_reports/report_card", report: report %>
        </div>
      </div>
    </div>
    <hr class="horizontal-line">
    <% end %>
    <%= will_paginate @reports, previous_label: '&#8592; &nbsp;前', next_label: '次 &#8594;' %>
  
  <% else %>
    <div class="content-container">
      <div class="content">
        <p><%= @coach.name %>さんのいいねはまだありません。</p>
      </div>
    </div>
  <% end %>
</div>