<% content_for :head do %>
<%= render 'shared/fundamental_meta' %>
<%= render 'shared/twitter_meta' %>
<% end %>

<div class="page-outer posts">
  <div class="page-container" id="post-stream">
    <% if @posts.any? %>
      <ol class="posts post-stream-container">
        <%= render @posts %>
        <%= paginate @posts %>
      </ol>
    <% else %>
      <p class="nothing">クエスチョン&ノートはまだ１つもありません。</p>
    <% end %>
  </div>
</div>