<% content_for :head do %>
<title>タイムライン | Studish</title>
<meta name="description" content="生徒向けのタイムラインページです。">
<meta name="keywords" content="Studish,スタディッシュ,オンライン指導,コーチング,Coaching,自学スキルの向上,ディスカッション,discussion">
<% end %>

<div class="content-wrapper" id="posts">
  <div class="content-container">
    <div class="content posts">
      <% if @posts.any? %>
        <ol class="posts">
          <%= render @posts %>
        </ol>
      <% else %>
        <p>ポストが１つもありません</p>
      <% end %>
    </div>
  </div>
</div>