<% if logged_in_as_student? %>
  <div class="page-outer new-post">
    <div class="page-container">
      <% if params[:post_type] == "note" %>
      <%= render "note_form" %>
      <% else %>
      <%= render "form" %>
      <% end %>
    </div>
  </div>
<% end %>