<div class="page-outer new-post">
  <div class="page-container">
    <% if @post.status == "question" %>
      <%= render "form_question" %>
    <% else %>
      <%= render "form_note" %>
    <% end %>
  </div>
</div>