<h1>Password reset</h1>

<p><%= @student.account_name %>さん</p>

<p>下記のリンクをクリックしてパスワード再設定ページへお進みください。</p>

<%= link_to "Reset password", edit_password_reset_url(@student.reset_token, email: @student.email) %>

<p>このリンクは２時間で期限が切れます。</p>

<p>もしパスワードを変更しないのであればこのメールは無視してください。その場合はパスワードは変更されません。</p>
