// _mixins.scss //

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin avatar-border($border-px: 1px, $style: solid, $color: $grey3, $radius: 3px ) {
    border: $border-px $style $color;
    border-radius: $radius;
}

@mixin tag-small($border-px: 1px, $style: solid, $color: $grey3, $radius: 2px,
               $padding: $padding-xs, $margin-bottom: $margin-xs,
               $font-px: $font-size-xs, $color: $grey3, $line-height: 1) {
    display: inline-block;
    border: $border-px $style $color;
    border-radius: $radius;
    padding: $padding;
    margin-bottom: $margin-bottom;
    line-height: $line-height;
    color: $color;
}

@mixin name-link($line-height: 1, $text-decoration: none, $color: $grey3, $display: inline-block, $margin-left: $margin-m) {
    line-height: $line-height;
    text-decoration: $text-decoration;
    color: $color;
    display: $display;
    margin-left: $margin-left;
}

@mixin name-link-hover($color: $grey1) {
    color: $color;
}