@import "variables";
@import "mixins";

div.user-account {
  div.page-container {
    h3 {
      margin: $margin-m;
    }
    table {
      margin: $margin-m;
    }
    span {
      width: 100%;
      display: inline-block;
      margin-left: $margin-m;
      margin-right: $margin-m;
      margin-bottom: $margin-m;
    }
  }
}