#challenge {
  .content-container {
    .content-header {
      width: 183px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      .icon {
        font-size: 28px;
        float: left;
        line-height: 1;
        color: #9370db;
        span {
          margin: 0;
        }
      }
      h2 {
        float: left;
        margin-left: 15px;
      }
    }
    .content {
      margin-bottom: 30px;
      .challenge-1-header {
        margin-bottom: 30px;
        width: 195px;
        margin-left: auto;
        margin-right: auto;
      }
      .icon {
        font-size: 20px;
        float: left;
        color: #90ee90;
        line-height: 1;
        span {
          margin: 0;
        }
      }
      h3 {
        float: left;
        margin: 0 0 0 15px;
      }
    }
  }
}


@media(min-width: 768px) {
  #challenge {
    .content-container {
      .content-header {
        width: 231px;
        .icon {
          font-size: 36px;
        }
        h2 {
        }
      }
      .content {
        margin-bottom: 60px;
        .challenge-1-header {
          margin-bottom: 30px;
          width: 231px;
        }
        .icon {
          font-size: 24px;
        }
      }
    }
  }
}


@media(min-width: 996px) {
  #challenge {
    .content-container {
      .content-header {
        width: 255px;
        .icon {
          font-size: 40px;
        }
        h2 {
        }
      }
      .content {
        margin-bottom: 60px;
        .challenge-1-header {
          margin-bottom: 30px;
          width: 267px;
        }
        .icon {
          font-size: 28px;
        }
      }
    }
  }
}