$separator-grey: #e5e5e5;
$grey3: #afafaf;
$black1: #333;

#top-coaches,
#coach-list{
  padding-top: 15px;
  .content-container {
    padding: 0;
    .content-header {
      margin: 15px 0;
    }
    .content {
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
      #coach-card-1 {
        border-top: 1px solid;
        border-color: $separator-grey;
      }
    }
    .link {
      margin-top: 30px;
      text-align: center;
    }
  }
}