@import "color_set";

#coaching-report {
  padding-top: 15px;
  .content-container {
    .content-header {
      margin: 0;
      padding: 20px 0;
      h2 {
        font-size: 20px;
      }
    }
    .content {
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
      padding: 7px;
      background-color: #fff;
      border: 1px solid $grey2;
      margin-bottom: 10px;
      box-shadow: 1px 1px 1px 0px #cfc7b3;
      -moz-box-shadow: 1px 1px 1px 0px #cfc7b3;
      -webkit-box-shadow: 1px 1px 1px 0px #cfc7b3;
      .comment-form {
        .new_comment {
          .form-group {
            text-align: left;
          }
          .comment {
            width: 100%;
            p {
              line-height: 1.4;
              span.name {
                color: $black1;
                margin-right: 5px;
              }
              span.account_name {
                color: $light-grey;
              }
            }
            textarea {
            }
          }
          .submit {
            text-align: center;
          }
        }
      }
      .comments-wrapper {
        .comment {
          .comment-header {
            margin-bottom: 10px;
            .commenter-img {
              float: left;
              img {
                width: 50px;
                height: 50px;
                border: 1px solid $grey2;
                border-radius: 3px;
              }
            }
            div.info {
              margin-left: 57px;
              line-height: 1;
              text-align: left;
              a {
                display: inline;
                color: $light-grey;
                line-height: 1.4;
                margin-bottom: 5px;
                span {
                  text-decoration: none;
                  display: inline-block;
                }
                span.name {
                  color: $black1;
                  margin-right: 5px;
                }
                span.account_name {
                  color: $light-grey;
                }
              }
              div.time {
                span {
                  float: right;
                  color: $light-grey;
                  line-height: 1;
                }
              }
            }
          }
          .comment-content {
            margin-left: 5px;
            .comment-body {
              text-align: left;
              line-height: 1.7;
              word-wrap: break-word;
            }
            .comment-footer {
              text-align: right;
            }
          }
        }
      }
    }
  }
}


@media (min-width: 768px) {
#coaching-report {
  .content-container {
    .content-header {
      h2 {
      }
    }
    .content {
      max-width: 500px;
      padding: 15px;
      .report-card {
        max-width: 500px;
        .report-header {
          .coach-img {
            img {
            }
          }
          .coach-info {
            .coach-name {
              font-size: 16px;
              a {
              }
            }
          }
        }
        .report-abst {
          .report-title {
            font-size: 16px;
          }
          .report-body {
            font-size: 16px;
          }
          .more {
            font-size: 16px;
          }
          .report-footer {
            p {
            }
          }
        }
      }
      .comment-form {
        .new_comment {
          .form-group {
            text-align: left;
          }
          .comment {
            width: 100%;
            textarea {
            }
          }
          .submit {
            text-align: center;
          }
        }
      }
      .comments-wrapper {
        .comment {
          .comment-header {
            .commenter-img {
              img {
              }
            }
            .commenter-info {
              margin-left: 15px;
              .commenter-name {
                a {
                  font-size: 16px;
                }
              }
            }
          }
          .comment-content {
            .comment-body {
              font-size: 16px;
            }
            .comment-footer {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

}