@import "color_set";

#coach-profile {
  padding: 0;
  .content-container {
    padding: 15px 10px;
    .content.coach-prof-1 {
      margin-bottom: 15px;
    }
    .content.coach-prof-2 {
      text-align: left;
      .prof2-content {
        margin-bottom: 15px;
        label {
          display: block;
          line-height: 1;
          margin-bottom: 7px;
        }
        p {
          line-height: 1.7;
          word-wrap: break-word;
        }
      }
      .prof2-content.subjects {
        .subject-wrapper {
          display: inline-block;
          background-color: #fff;
          border: solid 2px $grey2;
          border-radius: 2px;
          padding: 4px;
          margin-bottom: 4px;
          line-height: 1;
          color: $grey2;
        }
      }
      .prof2-content.certifications {
        .label-certifications {
        }
        .certification {
          background-color: #fff;
          border: solid 2px $grey2;
          border-radius: 2px;
          padding: 4px;
          margin-right: 4px;
          margin-bottom: 4px;
          display: inline;
          float: left;
          line-height: 1;
          color: $grey2;
        }
      }
    }
    .content.edit-link {
      a {
        display: inline-block;
        border: 1px solid $grey2;
        border-radius: 3px;
        background-color: #fff;
        line-height: 1;
        padding: 5px;
        color: $grey2;
        text-decoration: none;
      }
      a:hover {
        background-color: $grey2;
        color: #fff;
      }
    }
  }
}


@media (min-width: 768px) {

}