#coach-list {
  .content-container {
    .content-header {
    }
    .content {
      .coach-card-wrapper {
        width: 280px;
        margin-right: auto;
        margin-left:auto;
        .coach-card {
          width: 140px;
          float: left;
          .coach-card-inner {
            padding: 8px;
            margin: 10px;
            background-color: #fff;
            border: 1px solid #aaa;
            border-radius: 3px;
            width: 122px;
            box-shadow: 1px 1px 1px 0px #aaa;
            -moz-box-shadow: 1px 1px 1px 0px #aaa;
            -webkit-box-shadow: 1px 1px 1px 0px #aaa;
            .coach-image {
              width: 80px;
              margin-bottom: 10px;
              margin-right: auto;
              margin-left: auto;
              img {
                width: 80px;
                height: 80px;
                border: 1px solid #aaa;
                border-radius: 40px;
              }
            }
            .coach-info {
              line-height: 1;
              margin-bottom: 4px;
              font-size: 12px;
              i {
                margin-right: 4px;
              }
              i.fa-coffee {
                color:#ff8c00;
              }
              i.fa-graduation-cap {
                color:#29b864;
              }
            }
            a {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}


@media (min-width: 768px) {
  #coach-list {
    .content-container {
      .content-header {
      }
      .content {
        .coach-card-wrapper {
          width: 700px;
          margin-left: auto;
          margin-right: auto;
          .coach-card {
            a {
              .coach-card-inner {
                .coach-image {
                  img {
                  }
                }
                .coach-name {
                }
              }
            }
          }
        }
      }
    }
  }
}