#coach-profile {
  .content-container {
    .content-header {
      
    }
    .content {
      .coach-image {
        margin-bottom: 60px;
        img {
          width: 200px;
          height: 200px;
          border: 1px solid #333;
          border-radius: 100px;
        }
      }
    }
  }
}