$black1: #333 !default; /* body.color */
$black2: #3d3d3d !default;
$grey1: #636363 !default; /* subjects.color subjects.border-color */
$grey2: #898989 !default;
$grey3: #afafaf !default;  /* img.border-color account_name */
$light-grey: #d3d3d3 !default;
$separator-grey: #e5e5e5 !default;
$book-green: #32cd32 !default;
$fav-pink: #ff4a6a !default;
$comment-blue: #1e90ff !default;
$bell-red: #ff3b3b !default;
$bell-red-hover: #ffd8d8 !default;

$caution-red: #ff3434 !default;