@import  "color_set";

div.features {
  padding: 0;
  margin-bottom: 15px;
  span {
    float: left;
    text-align: center;
    width: 33.3333%;
    a {
      width: 100%;
      display: inline-block;
      text-decoration: none;
      line-height: 1;
      padding: 5px;
      text-align: center;
      background-color: #fff;
      border-top: 1px solid $grey2;
      border-bottom: 1px solid $grey2;
      border-left: 1px solid $grey2;
      color: $grey2;
      p {
        i {
          margin-right: 5px;
        }
      }
      .p1 {
        margin-bottom: 5px;
      }
      .p2 {
        margin: 0;
      }
    }
    #feature3 {
      border-right: 1px solid $grey2;
      border-radius: 0 3px 3px 0;
    }
    #feature1 {
      border-radius: 3px 0 0 3px;
    }
    a:hover {
      background-color: $grey2;
      color: #fff;
    }
    a:active {
      background-color: $grey2;
      color: #fff;
    }
  }
}