@import  "variables";

ul.coach-stats {
  padding: 0;
  margin: $margin-m;
  li {
    float: left;
    text-align: center;
    width: 33.3333%;
    background-color: #fff;
    border-top: 1px solid $grey2;
    border-bottom: 1px solid $grey2;
    border-left: 1px solid $grey2;
    a {
      width: 100%;
      display: inline-block;
      text-decoration: none;
      line-height: 1;
      padding: 5px;
      text-align: center;
      color: $grey2;
      span {
        i {
          margin-right: 5px;
        }
      }
    }
    a:hover {
      background-color: $grey2;
      color: #fff;
    }
    a:active {
      background-color: $grey2;
      color: #fff;
    }
  }
  #stats-item-1 {
    border-radius: 3px 0 0 3px;
  }
  #stats-item-3 {
    border-right: 1px solid $grey2;
    border-radius: 0 3px 3px 0;
  }
}