#fit {
  padding-bottom: 0;
  background-color: #fff;
  .content-container {
    padding: 0;
    .fit-text {
      padding: 0 15px;
      margin-bottom: 30px;
    }
    .fit-content {
      border-top: solid 1px #e5e5e5;
    }
    #fit-content-3 {
      border-bottom: solid 1px #e5e5e5;
    }
    .content {
      .fit-card {
        #fit-icon-2 {
          color: #666;
        }
        #fit-icon-3 {
          color: #aaa;
        }
        .icon {
          font-size: 60px;
          width: 20%;
          padding: 40px 0;
          text-align: center;
          float: left;
        }
        .fit-hp-wrapper {
          float: left;
          width: 80%;
          padding: 27px 15px;
          text-align: center;
          h3 {
            margin: 10px 0 20px 0;
          }
        }
      }
    }
  }
}


@media (min-width: 768px) {
  #fit {
    padding-bottom: 0;
    .content-container {
      .fit-text {
        padding: 0 15px;
        margin-bottom: 30px;
      }
      .content {
        .fit-card {
          .icon {
            font-size: 60px;
            width: 20%;
            padding: 40px 0;
          }
          .fit-hp-wrapper {
            padding: 27px 15px;
            h3 {
              margin: 24px 0 34px 0;
            }
          }
        }
      }
    }
  }
}


@media (min-width: 992px) {
  #fit {
    .content-container {
      .content {
        .fit-card {
          .icon {
            padding-top: auto;
          }
          .fit-hp-wrapper {
            padding: 45px 0;
            h3 {
              font-size: 28px;
            }
          }
        }
      }
    }
  }
}