@import "variables";

form {
  padding: $margin-m;
}

.public:after {
  content: " *";
  color: $caution-red;
}

textarea {
  resize: vertical;
}

.required:after {
  content: " *";
  color: $caution-red;
}