#coach-new,
#coach-edit {
  .content-container {
    .content {
        .coach_image_form, 
        .form-group {
          text-align: left;
        }
    }
    .alert {
      color: #ff3434;
    }
  }
}

.coach_image_form {
  margin-top: 60px;
  margin-bottom: 60px;
  img {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    border-radius: 100px;
    margin-bottom: 15px;
  }
}

.public:after {
  content: " *";
  color: #ff3434;
}

textarea {
  resize: vertical;
}