@import "variables";

header {
  z-index: 9999;
  height: 40px;
  .navbar {
    width: 100%;
    margin: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    &.navbar-default {
      background-color: #fff !important;
    }
    .container-fluid {
      margin: 0 !important;
      padding: 0 !important;
    }
    .navbar-inner {
      max-width: 1200px;
      margin: 0;
      .navbar-header {
        h1 {
          margin: 0 !important;
          /* padding: 10px 0 0 0 !important; */
          a {
            width: 120px;
            height: 30px !important;
            margin: $margin-s $margin-m;
            background: image-url("logo.png") no-repeat 0 0;
            background-size: contain;
            display: block;
            white-space: nowrap;
            text-indent: 99999px;
          }
        }
        button.navbar-toggle {
          margin: 0;
          padding: 13px 10px;
          border: none;
          background-color: #fff;
        }
      }
      .navbar-collapse.collapse,
      .navbar-collapse.collapsing {
        margin-top: 0;
        max-height: 470px;
        ul {
          li {
            a {
              padding: $padding-m;
            }
          }
          .dropdown {
            .dropdown-toggle {
              padding: $padding-m;
              margin-left: $margin-m;
            }
          }
        }
      }
      .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
        li {
          a {
            padding: $padding-m;
            i {
              margin-right: $margin-s;
            }
            i.fa-bell-o {
              margin-right: $margin-xs;
            }
            .bell-red {
              color: $bell-red;
            }
            .count {
              margin-right: $margin-s;
            }
          }
        }
        .divider {
          height: 1px;
          background-color: #e5e5e5;
        }
        .dropdown {
          .dropdown-toggle {
            padding: $padding-m;
            color: #777;
            span {
              font-size: 8px;
            }
          }
          .dropdown-toggle:hover,
          .dropdown-toggle:focus {
            color: #333;
          }
        }
        ul.dropdown-menu {
          padding: 0;
          li {
            &.divider {
              margin: 0;
            }
            a {
              padding: 10px 20px ;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    .navbar {
      .navbar-inner {
        .navbar-collapse{
          .navbar-nav {
            margin-right: 0;
            .dropdown {
              .dropdown-toggle {
                padding: 20px;
                color: #777;
              }
            }
            li {
              a {
                padding: 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar-toggle {
    margin-top: 11px;
  }
  .navbar-collapse {
    margin-top: 10px;
  }
}

@media (min-width: 1200px) {
  header {
    .navbar {
      .navbar-inner {
        margin: 0 auto;
      }
    }
  }
}