.content-container > div.pagination {
  text-align: center;
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
div.pagination {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1;
}
ul.pagination {
  margin: 0;
}