#coach-new,
#coach-edit {
  .content-container {
    .content {
      p.info {
        margin-bottom: 60px;
      }
      p.caution {
        margin: 0;
        padding: 0;
        color: #ff3434;
      }
      .coach-picture {
        margin-bottom: 60px;
        text-align: center;
        img {
          margin-bottom: 30px;
          width: 200px;
          height: 200px;
          border: 1px solid #333;
          border-radius: 100px;
        }
        input {
          width: 220px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 20px;
          line-height: 1;
        }
      }
      .coach-profile {
        text-align: left;
        label {
          width: 30%;
        }
        label.public:after {
          content: " *";
          color: #ff3434;
        }
        p {
          padding-left: 15px;
        }
      }
      .self_introduction {
        margin-bottom: 30px;
      }
    }
  }
}


@media (min-width: 768px) {
}