#top-coaches {
  padding-top: 15px;
  .content-container {
    .content-header {
      margin: 15px 0;
    }
    .content {
      display: block;
      .coach-card-wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 290px;
        .coach-card {
          .coach-card-inner {
            float: left;
            width: 290px;
            padding: 8px;
            margin-bottom: 15px;
            background-color: #fff;
            opacity: 0.9;
            border: 1px solid #ebd8a9;
            border-radius: 3px;
            box-shadow: 1px 1px 1px 0px #cfc7b3;
            -moz-box-shadow: 1px 1px 1px 0px #cfc7b3;
            -webkit-box-shadow: 1px 1px 1px 0px #cfc7b3;
            .img-wrapper {
              float: left;
              width: 100px;
              img {
                width: 100px;
                height: 100px;
                border: 1px solid #ebd8a9;
              }
            }
            .profs {
              float: left;
              line-height: 1;
              margin-left: 10px;
              text-align: left;
              div {
                font-size: 12px;
                color: #333;
                width: 160px;
                word-wrap: break-word;
              }
              .coach-name,
              .coach-univ,
              .coach-major {
                margin-bottom: 12px;
              }
            }
          }
        }
      }
    }
    .link {
      margin-top: 30px;
      text-align: center;
    }
  }
}


@media (min-width: 768px) {
  
#top-coaches {
  padding-top: 45px;
  .content-container {
    .content-header {
      margin-bottom: 30px;
    }
    .content {
      .coach-card-wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        .coach-card:nth-child(odd){
          margin-right: 20px;
        }
        .coach-card {
          margin-left: 0;
          margin-right: 0;
          width: 290px;
          float: left;
          a {
            float: left;
            .coach-card-inner {
              max-width: 290px;
              padding: 8px;
              margin-bottom: 20px;
              .img-wrapper {
                float: left;
                width: 100px;
                img {
                  width: 100px;
                  height: 100px;
                  border: 1px solid #ebd8a9;
                }
              }
              .profs {
                float: left;
                line-height: 1;
                margin-left: 10px;
                text-align: left;
                div {
                  font-size: 14px;
                  color: #333;
                }
                .coach-name,
                .coach-univ,
                .coach-major {
                  margin-bottom: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}

}