@import "variables";
@import "mixins";

a.name-link {
  @include name-link;
  display: inline-block;
}

a.name-link:hover {
  @include name-link-hover;
  text-decoration: none;
}

span.user-name {
  font-weight: 900;
  color: $black1;
  margin-right: $margin-s;
}

span.user-account-name {
  color: $grey3;
}

span.user-account-name:before {
  content: "@";
}