<footer>
  <div class="page-outer footer">
    <div class="page-container">
     <ul>
       <li><%= link_to "プライバシーポリシー", statics_privacy_path %></li>
       <li><%= link_to "利用規約", statics_terms_path %></li>
       <li>&copy;2016-<%= Time.now.year %> Studish All Rights Reserved.</li>
     </ul>
    </div>
  </div>
</footer>